                    /*----- body, police et liens -----*/

/*body*/

body
{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header, main
{
    padding-left: 3em;
    padding-right: 3em;
    margin-bottom: 2em;
}

/*titres*/

h1
{
    font-size: 1.3em;
    line-height: 0em;
}

h2, h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.2em;
    line-height: 1em;
    margin: 0em;
}

/*lien hypertextes*/

a:link 
{ 
    text-decoration: none;
    color: black;
}

    a:visited 
    {
        color: black;
    }

    a:hover 
    {
        color: #0065fc;
    }

    a:active 
    {
        color: #0065fc;
    }

.lien_bleu a
{
    color: #0065fc;
}

/*réglages des logos font-awesome*/

.blue
{
    color: #0065fc;
}

.grey
{
    color: #d9d9d9;
}

.circle
{
    border: 0.02em solid #d9d9d9;
    border-radius: 50%;
    height: 1.1em;
    width: 1.1em;
    text-align: center;
}



                    /*----- header -----*/

/*logo Reservia*/

#haut_de_page
{
    display: flex; /*permet de réagencer les éléments*/
    justify-content: space-between; /*étire les éléments sur tout l'axe*/
}

.logo
{
    width: 6em;
    min-width: 100px;
    padding-top: 2em;
    padding-bottom: 1em;
}

/*menu*/

ul 
{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

    .menu
    {
        width: 10em;
        padding-top: 2em;
        float: left;
        text-align: center;
    }

        .menu_actif
        {
            border-top: 0.2em solid #0065fc;
            border-spacing: 2em;
        }

/*barre de recherche*/

.logo_localisation
{
    background-color: #f1f1f1;
    border: 0.1em solid #f1f1f1;
    padding-top: 0.325em;
    padding-bottom: 0.49em;
    padding-left: 0.6em;
    padding-right: 0.6em;
    border-bottom-left-radius: 0.5em;
    border-top-left-radius: 0.5em;
    margin-right: -0.4em;
    width: 2em;
}

.localisation
{
padding: 0.6em;
border: 0.1em solid #f1f1f1;
margin-right: -0.4em;
width: 15em;
}

.rechercher
{
color: white;
background-color: #0065fc;
border: 0.1em solid #0065fc;
padding: 0.6em;
border-top-right-radius: 0.5em;
border-bottom-right-radius: 0.5em;
}

    .rechercher:hover
    {
        color: white;
        background-color: #004ec2;
        border: 0.1em solid #004ec2;
        padding: 0.6em;
        border-top-right-radius: 0.5em;
        border-bottom-right-radius: 0.5em;
    }

/*filtres*/

.filtres
{
    display: flex;
    align-items: center;
    margin-top: 1em;
}

    .filtre2
    {
        margin: 0.5em;
        padding-right: 0.5em;
        display: flex;
        align-items: center;
    }

    .filtre
    {
        margin: 0.5em;
        padding-right: 1em;
        border: 0.1em solid #d9d9d9;
        border-radius: 2em;
        display: flex;
        align-items: center;
    }

        .blue_background
        {
            background-color: #deebff;
            height: 2em;
            width: 2em;
            margin-right: 0.7em;
            border-radius: 2em;
            align-items: center;
            margin: -0.1em;
            margin-right: 0.7em;
        }

            .fa-money-bill-wave
            {
                padding-top: 0.5em;
                padding-left: 0.3em;
            }

            .fa-child
            {
                padding-top: 0.5em;
                padding-left: 0.3em;
            }

            .fa-heart
            {
                padding-top: 0.5em;
                padding-left: 0.4em;
            }

            .fa-dog
            {
                padding-top: 0.4em;
                padding-left: 0.3em;
            }



                    /*----- main -----*/

.body
{
    background-color: #f1f1f1;
    display: inline-block;
    padding: 1em; /*bordure intérieure*/
    border-radius: 2em; /*arondissement des coins*/
    vertical-align: top;
}

.equalizer
{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

    .hebergements_a_marseille
    {
        width: auto;
        max-width: 60%;
        height: auto;
        padding: 2em;
        display: flex;
        flex-direction: column;
    }

        .body1
        {
            display: flex;
            flex-flow: wrap;
            justify-content: space-between;
        }

            .sous_body1
            {
                margin-top: 1em;
                margin-bottom: 1em;
                padding: 0.2em; /*bordure intérieure*/
                border-radius: 1em;
                box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.048);
                background-color: white;
                width: 16em;
                height: 13em;
        
                display: flex;
                flex-direction: column;
            
            }

                .img1
                {
                    max-width: 100%;
                    overflow: clip;
                    object-fit: cover; /*rogne l'image*/
                    border-top-left-radius: 1em;
                    border-top-right-radius: 1em;
                }

                .text1
                {
                    padding: 0.6em;
                    line-height: 1.5em;
                }

    .les_plus_populaires
    {
        width: 28%;
        height: auto;
        padding: 2em;
    }

        .logo_les_plus_populaires
        {
            display: flex;
            justify-content: space-between;
        }

        .body2
        {
            display: flex;
            flex-direction: column;
            align-content: space-between;
        }

            .sous_body2
            {
                margin-top: 0.5em;
                margin-bottom: 0.5em;
                padding: 0.2em; /*bordure intérieure*/
                border-radius: 1em;
                box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.048);
                background-color: white;
                width: inherit;
                height: 10em;

                display: flex;
                flex-flow: row;             
            }

                .img2
                {
                    max-width: 40%;
                    overflow: clip;
                    object-fit: cover; /*rogne l'image*/
                    border-top-left-radius: 1em;
                    border-bottom-left-radius: 1em;
                }

                .text2
                {
                    padding: 1em;
                    line-height: 1.5em;
                    display: flex; 
                    flex-direction: column;
                    justify-content: space-between;              
                }

    .activites_a_marseille
    {
        margin-top: 4em;
        margin-bottom: 2em;
    }

        .body3
        {
            height: 30em;
            display: flex;
            flex-flow: column wrap;
            justify-content: space-between;
            align-content: space-between;
        }

            .sous_body3
            {
                border-radius: 1em;
                box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.048);
                background-color: white;
                width: 20em;

                overflow: clip;
                object-fit: cover; /*rogne l'image*/

                display: flex;
                flex-flow: column;
            }

            .format_portrait
            {
                height: 100%;
            }

            .format_deux_tiers
            {
                height: 60%;
            }

            .format_demi
            {
                height: 45%;
            }

            .format_tiers
            {
                height: 30%;
            }

                .img3
                {
                    min-width: 100%;
                    overflow: clip;
                    object-fit: cover; /*rogne l'image*/
                    align-self: center;
                    border-top-left-radius: 1em;
                    border-top-right-radius: 1em;                   
                }

                .text3
                {
                    margin: 1em; 
                }



                    /*----- footer -----*/

footer
{
    background-color: #f2f2f2;
    margin-top: 4em;
    padding-top: 1em;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 3em;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: left;
}

    .colone
    {
        padding-right: 18em;
        line-height: 2em; /*taille des espaces interlignes*/
    }
    