/*body général*/

body
{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header, main
{
    margin-top: 2em;
    padding-left: 3em;
    padding-right: 3em;
}

h1, h2, h3, h4
{
    font-size: 1.2em;
}

h4
{
    line-height: 1em;
    margin: 0em;
}

strong
{

}

/*lien hypertextes*/

a:link 
{ 
    text-decoration: none;
    color: black;
}

a:visited 
{
    color: black;
}

a:hover 
{
    color: #0065fc;
}

a:active 
{
    color: #0065fc;
}

.lien_bleu a
{
    color: #0065fc;
}

.menu a:hover
{
    border-top: 0.1em solid blue;
    border-spacing: 2em;
}

/*logo + menu*/

#haut_de_page
{
    display: flex; /*permet de réagencer les éléments*/
    justify-content: space-between; /*étire les éléments sur tout l'axe*/
}

.logo
{
    width: 12em;
    min-width: 100px;
}

.filtres
{
    display: flex;
}

.filtre
{
    margin: 0.5em;
    padding-right: 1em;
    border: 0.1em solid #d9d9d9;
    border-radius: 2em;
}

.filtre2
{
    margin: 0.5em;
    padding-right: 0.5em;
}

ul 
{
    padding:0;
    margin:0;
    list-style-type:none;
}

.menu
{
    padding-left: 4em;
    float: left;
}



.logo_les_plus_populaires
{
    display: flex;
    justify-content: space-between;
}

/*main*/

.body
{
    background-color: #f1f1f1;
    display: inline-block;
    padding: 1em; /*bordure intérieure*/
    border-radius: 2em; /*arondissement des coins*/
    vertical-align: top;
}

.equalizer
{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

    .hebergements_a_marseille
    {
        width: auto;
        max-width: 60%;
        height: auto;
        padding: 2em;
        display: flex;
        flex-direction: column;
    }

        .body1
        {
            display: flex;
            flex-flow: wrap;
            justify-content: space-between;
        }

            .sous_body1
            {
                margin-top: 1em;
                margin-bottom: 1em;
                padding: 0.2em; /*bordure intérieure*/
                border-radius: 1em;
                box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.048);
                background-color: white;
                width: 16em;
                height: 13em;
        
                display: flex;
                flex-direction: column;
            
            }

                .img1
                {
                    max-width: 100%;
                    overflow: clip;
                    object-fit: cover; /*rogne l'image*/
                    border-top-left-radius: 1em;
                    border-top-right-radius: 1em;
                }

                .text1
                {
                    padding: 0.6em;
                    line-height: 1.5em;
                }



    .les_plus_populaires
    {
        width: 28%;
        height: auto;
        padding: 2em;
    }

        .body2
        {
            display: flex;
            flex-direction: column;
            align-content: space-between;
        }

            .sous_body2
            {
                margin-top: 0.5em;
                margin-bottom: 0.5em;
                padding: 0.2em; /*bordure intérieure*/
                border-radius: 1em;
                box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.048);
                background-color: white;
                width: inherit;
                height: 10em;

                display: flex;
                flex-flow: row;
                
    
            }

                .img2
                {
                    max-width: 40%;
                    overflow: clip;
                    object-fit: cover; /*rogne l'image*/
                    border-top-left-radius: 1em;
                    border-bottom-left-radius: 1em;
                }

                .text2
                {
                    padding: 0.6em;
                    line-height: 1.5em;
                }


    .activites_a_marseille
    {
        margin-top: 4em;
        margin-bottom: 2em;
    }

        .body3
        {
            height: 30em;
            display: flex;
            flex-flow: column wrap;
            justify-content: space-between;
            align-content: space-between;
        }

            .sous_body3
            {
                border-radius: 1em;
                box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.048);
                background-color: white;
                width: 20em;

                overflow: clip;
                object-fit: cover; /*rogne l'image*/

                display: flex;
                flex-flow: column;
            }

            .format_portrait
            {
                height: 100%;
            }

            .format_deux_tiers
            {
                height: 60%;
            }

            .format_demi
            {
                height: 45%;
            }

            .format_tiers
            {
                height: 30%;
            }

                .img3
                {
                    min-width: 100%;
                    overflow: clip;
                    object-fit: cover; /*rogne l'image*/
                    align-self: center;
                    border-top-left-radius: 1em;
                    border-top-right-radius: 1em;                   
                }

                .text3
                {
                    margin: 1em;                    
                }



/*footer*/

footer
{
    background-color: #f2f2f2;
    margin-top: 4em;
    padding-top: 1em;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 3em;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: left;
}

.colone
{
    padding-right: 18em;
    line-height: 2em; /*taille des espaces interlignes*/
}


.blue
{
    color: #0065fc;
}

.grey
{
    color: #d9d9d9;
}

.bottom
{
    vertical-align: text-bottom;
}

.blue_background
{
    background-color: rgba(98, 98, 255, 0.342);
    padding: 0.2em;
    margin: 0px;
    margin-right: 0.7em;
    border-radius: 2em;
}

.circle
{
    border: 0.02em solid #d9d9d9;
    border-radius: 50%;
    height: 1.1em;
    width: 1.1em;
    text-align: center;
}   